body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	
}

footer {
    text-align: center;
    font-weight: 20px;
    font-size: 16px;
    color: #fff;
}

.nav-wrapper{
	margin-bottom: 20px;
}

.social {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-right: 5px;
  vertical-align: baseline;
  text-align: center;
}
.fa-copyright{
	line-height: 16px;
}
.cite{
	width: 400px;
	text-align: center;
}
#image-text{
	text-align: center;
}

/*a {
	color: #FF02CA;
}
*/
a:link {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 110%;
    text-decoration: none;
}

 a:visited {
    color: white;
    font-size: 110%;
    text-decoration: none;
}

a:active {
    color: white;
    font-size: 110%;
    text-decoration: none;
    }

a.brand-logo.active {
    font-size: 2.1rem !important;
}

#learnMore {
  text-align: center;
  cursor: pointer
}


