body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	
}

footer {
	text-align: center;

}

.nav-wrapper{
	margin-bottom: 20px;
}

.social {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-right: 5px;
  vertical-align: baseline;
  text-align: center;
}
.fa-copyright{
	line-height: 16px;
}
.cite{
	width: 400px;
	text-align: center;
}
#image-text{
	text-align: center;
}

/*a {
	color: #FF02CA;
}
*/
a:link {
    color: #FF02CA;
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 110%;
    text-decoration: none;
}

 a:visited {
    color: white;
    font-size: 110%;
    text-decoration: none;
}

a:active {
    color: white;
    font-size: 110%;
    text-decoration: none;
    }